{
  "openapi": "3.1.0",
  "info": {
    "title": "Paige API",
    "version": "1.0.0",
    "description": "The Paige public REST API (`/v1`). Build WhatsApp automations against your Paige project: send messages, manage templates, read conversations, tag contacts, assemble broadcasts, edit bot code + flows, and register signed webhooks.\n\n## Authentication\nEvery `/v1` request authenticates with a project API key: `Authorization: Bearer pk_live_…`. Mint and scope keys in **Settings → API keys**. A key carries its own project context, so `/v1` paths never include a project id.\n\n## Scopes\nEach endpoint requires one or more scopes (see each operation, and the `x-required-scopes` extension). Grant a key only the scopes it needs. A key missing a required scope gets `403 insufficient_scope`.\n\n## Response envelope\nSuccess: `{ \"success\": true, \"data\": … }`. Error: `{ \"success\": false, \"error\": { \"code\", \"message\" }, \"request_id\" }`. Some errors add `error.details` with structured extras (e.g. `quota_exceeded` carries `limit` + `resetAt`) — read it defensively, its keys depend on the code. The `request_id` is also returned as the `X-Request-Id` header on every response.\n\n## Rate limits & quota\nRequests are throttled per key (`RateLimit-*` headers; exceed → `429 rate_limited`). WhatsApp sends also draw down a daily quota (exceed → `429 quota_exceeded`). Both carry `Retry-After`.\n\n## Idempotency\nSend an `Idempotency-Key` header on `POST /v1/messages` to make retries safe — a completed key replays the stored response and never re-sends.\n\n## Webhook signatures\nOutbound webhook deliveries carry `X-Paige-Signature: t=<unix>,v1=<hmac_sha256>`. Verify with the reference `verifyPaigeSignature` helper (constant-time HMAC over `\"<t>.<rawBody>\"`, 300s tolerance).",
    "contact": {
      "name": "Paige",
      "url": "https://paigeme.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.paigeme.dev",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Meta",
      "description": "Smoke / diagnostics."
    },
    {
      "name": "Messages",
      "description": "Send messages and read delivery status + media."
    },
    {
      "name": "Conversations",
      "description": "List conversations, read messages, set state."
    },
    {
      "name": "Contacts",
      "description": "Read contact messages; update names, tags, attributes."
    },
    {
      "name": "Templates",
      "description": "WhatsApp message template CRUD."
    },
    {
      "name": "Broadcasts",
      "description": "Segments + broadcast assembly (always pending_approval)."
    },
    {
      "name": "Build",
      "description": "Read/edit bot code, deploy, read/generate/update flows."
    },
    {
      "name": "Tables",
      "description": "Read and write the project's own database tables. Paige platform tables are denied, and an update or delete must always be filtered."
    },
    {
      "name": "Media",
      "description": "Upload, list, retrieve and delete the project's media assets. The slug an upload returns is what the bot sends by."
    },
    {
      "name": "Webhooks",
      "description": "Register signed outbound webhooks."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key",
        "description": "Project API key issued in Settings → API keys. Send it as `Authorization: Bearer pk_live_…`."
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Stable, machine-readable error code.",
            "example": "invalid_request"
          },
          "message": {
            "type": "string",
            "description": "Human-readable message (safe to surface).",
            "example": "Invalid request body"
          },
          "details": {
            "type": "object",
            "properties": {},
            "description": "Structured extras for codes that carry them — the keys depend on `code`. `quota_exceeded` carries `limit` + `resetAt`; most errors omit this field entirely."
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "$ref": "#/components/schemas/ApiError"
          },
          "request_id": {
            "type": "string",
            "description": "Per-request id, also returned as the X-Request-Id header."
          }
        },
        "required": [
          "success",
          "error",
          "request_id"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/openapi.json": {
      "get": {
        "operationId": "getOpenApiSpec",
        "tags": [
          "Meta"
        ],
        "summary": "The OpenAPI 3.1 spec for this API (no auth)",
        "description": "Serves this document. Public — point Mintlify / an agent at `<api-origin>/v1/openapi.json`.",
        "security": [],
        "x-required-scopes": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {}
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/skill.md": {
      "get": {
        "operationId": "getIntegrationSkill",
        "tags": [
          "Meta"
        ],
        "summary": "The pasteable Paige integration agent skill (no auth)",
        "description": "Serves the \"build a Paige integration\" skill as markdown — hand it to a coding agent (Claude, Codex, Cursor) instead of pasting docs at it. Public, like `/v1/openapi.json`; the same file is downloadable in the app under **Settings → API → Integration skill**. Responds `text/markdown`, NOT the JSON envelope.",
        "security": [],
        "x-required-scopes": [],
        "responses": {
          "200": {
            "description": "Success (raw response body — not the JSON envelope).",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string",
                  "description": "The skill markdown."
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ping": {
      "get": {
        "operationId": "ping",
        "tags": [
          "Meta"
        ],
        "summary": "Smoke check, echoing the resolved project and scopes",
        "description": "Smoke check, echoing the resolved project and scopes\n\n**Required scope:** any valid key.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-required-scopes": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Target project id, for an MCP OAuth bearer (`mcp_at_…`) attached to more than one project — get ids from `GET /v1/projects`. Matched case-insensitively.\n\nOmit it and a READ falls back to the connection's default project; a **mutation** (any non-GET) on a connection with 2+ projects is rejected with `400 project_required` — a write is never defaulted to a guessed project. A connection with exactly one project never needs the header.\n\nScopes are checked against the SELECTED project only, never a union across the connection.\n\nFor a `pk_` API key the header selects nothing — one key is one project's context — but it IS validated: omit it and the key's own project is used, send it and it must name that project, otherwise the call is rejected with `403 project_not_attached` (a blank value is `400 invalid_project_header`, as above)."
            },
            "required": false,
            "name": "X-Paige-Project",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean"
                        },
                        "projectId": {
                          "type": "string"
                        },
                        "scopes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "ok",
                        "projectId",
                        "scopes"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`api_key_required` / `invalid_api_key` / `invalid_token` for a revoked or expired OAuth bearer).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit (`rate_limited`) or daily send quota (`quota_exceeded`) exceeded. Carries `RateLimit-*` + `Retry-After` headers.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Requests permitted in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects": {
      "get": {
        "operationId": "listProjects",
        "tags": [
          "Meta"
        ],
        "summary": "The projects this credential may act on",
        "description": "Discovery for multi-project connections (GRE-499). An MCP OAuth bearer (`mcp_at_…`) may be attached to SEVERAL projects, each with its OWN scopes; this returns them all, with `is_default` marking the one used when a call names no project. Pass a returned `id` in the `X-Paige-Project` header to target a project. A `pk_` API key is a single project's context and returns that one project as a one-element list (same shape), so a client never needs to branch on credential type.\n\nDeliberately NOT project-selected: it stays usable when the default project is paused (which would otherwise `403 project_inactive`), so a client can always discover a healthy sibling. The `X-Paige-Project` header is ignored here.\n\n**Required scope:** any valid key.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-required-scopes": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "projects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Project id — pass this as `X-Paige-Project`."
                              },
                              "name": {
                                "type": "string"
                              },
                              "scopes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Scopes granted on THIS project. Never a union across the connection."
                              },
                              "is_default": {
                                "type": "boolean",
                                "description": "Used when a read names no project."
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "scopes",
                              "is_default"
                            ]
                          }
                        }
                      },
                      "required": [
                        "projects"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`api_key_required` / `invalid_api_key` / `invalid_token` for a revoked or expired OAuth bearer).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit (`rate_limited`) or daily send quota (`quota_exceeded`) exceeded. Carries `RateLimit-*` + `Retry-After` headers.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Requests permitted in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "operationId": "sendMessage",
        "tags": [
          "Messages"
        ],
        "summary": "Send a message (session, template, or interactive)",
        "description": "Dispatch by `type`. Session types (`text|image|video|audio|document|location`) and `interactive` (button/list/carousel) are gated by the 24h customer-service window (closed → `409 outside_24h_window`); `template` is exempt. Supports the optional `Idempotency-Key` header (safe retries — a completed key replays the stored response). Reserves 1 unit of the daily send quota.\n\n**What you must send.** Beyond `type`, the required fields are conditional, so they cannot all be marked required in the schema below:\n\n- **Session and `interactive` types** need exactly one recipient — `conversationId` **or** `phone` (E.164, e.g. `+27821234567`) **or** `bsuid` — plus `content`. For `text`, `content` is the message body; for media types it is the URL or media id; for `interactive` it is the button/list/carousel payload. Omit the recipient → `400 missing_recipient`.\n- **`template`** needs a recipient spelled `to` **or** `phone` (an E.164 number — `conversationId`/`bsuid` are not accepted on this branch), plus a template name and a language.\n- **Template name and language each accept two spellings** — `name` or `templateName`, and `language` or `languageCode` — because the endpoint takes both the friendly and the strict form. Send one of each; if both are present the friendly spelling (`name` / `language`) wins. Missing → `400 missing_template_name` / `400 missing_language`.\n- **Template variables** go in either raw Meta `components` **or** the structured `header`/`body`/`footer`/`buttons` form. If you send both, raw `components` takes precedence and the structured form is ignored. A variable count that disagrees with the approved template is `400 template_variable_mismatch`.\n\n**Required scope:** `messages:send`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-required-scopes": [
          "messages:send"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 255,
              "description": "Opt-in idempotency key for safe retries of this send."
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project id, for an MCP OAuth bearer (`mcp_at_…`) attached to more than one project — get ids from `GET /v1/projects`. Matched case-insensitively.\n\nOmit it and a READ falls back to the connection's default project; a **mutation** (any non-GET) on a connection with 2+ projects is rejected with `400 project_required` — a write is never defaulted to a guessed project. A connection with exactly one project never needs the header.\n\nScopes are checked against the SELECTED project only, never a union across the connection.\n\nFor a `pk_` API key the header selects nothing — one key is one project's context — but it IS validated: omit it and the key's own project is used, send it and it must name that project, otherwise the call is rejected with `403 project_not_attached` (a blank value is `400 invalid_project_header`, as above)."
            },
            "required": false,
            "name": "X-Paige-Project",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "conversationId": {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 1
                          },
                          {
                            "type": "number"
                          }
                        ]
                      },
                      "phone": {
                        "type": "string"
                      },
                      "bsuid": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "text",
                          "image",
                          "video",
                          "audio",
                          "document",
                          "location"
                        ]
                      },
                      "content": {}
                    },
                    "required": [
                      "type"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "to": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "templateName": {
                        "type": "string"
                      },
                      "language": {
                        "type": "string"
                      },
                      "languageCode": {
                        "type": "string"
                      },
                      "components": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {}
                        }
                      },
                      "header": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "variables": {
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number"
                                }
                              ]
                            }
                          },
                          "link": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        }
                      },
                      "body": {
                        "type": "object",
                        "properties": {
                          "variables": {
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number"
                                }
                              ]
                            }
                          }
                        }
                      },
                      "footer": {
                        "type": "object",
                        "additionalProperties": {}
                      },
                      "buttons": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "sub_type": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "index": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "string"
                                }
                              ]
                            },
                            "payload": {
                              "type": "string"
                            },
                            "text": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "template"
                        ]
                      }
                    },
                    "required": [
                      "type"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "conversationId": {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 1
                          },
                          {
                            "type": "number"
                          }
                        ]
                      },
                      "phone": {
                        "type": "string",
                        "pattern": "^\\+?\\d{7,15}$"
                      },
                      "bsuid": {
                        "type": "string"
                      },
                      "content": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "button"
                                ]
                              },
                              "header": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text",
                                      "image",
                                      "video",
                                      "document"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              "body": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 1024
                                  }
                                },
                                "required": [
                                  "text"
                                ]
                              },
                              "footer": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 60
                                  }
                                },
                                "required": [
                                  "text"
                                ]
                              },
                              "action": {
                                "type": "object",
                                "properties": {
                                  "buttons": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "reply"
                                          ]
                                        },
                                        "reply": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 256
                                            },
                                            "title": {
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 20
                                            }
                                          },
                                          "required": [
                                            "id",
                                            "title"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "reply"
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "buttons"
                                ]
                              }
                            },
                            "required": [
                              "type",
                              "body",
                              "action"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "list"
                                ]
                              },
                              "header": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text",
                                      "image",
                                      "video",
                                      "document"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              "body": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 1024
                                  }
                                },
                                "required": [
                                  "text"
                                ]
                              },
                              "footer": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 60
                                  }
                                },
                                "required": [
                                  "text"
                                ]
                              },
                              "action": {
                                "type": "object",
                                "properties": {
                                  "button": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 20
                                  },
                                  "sections": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "title": {
                                          "type": "string",
                                          "maxLength": 24
                                        },
                                        "rows": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string",
                                                "minLength": 1,
                                                "maxLength": 200
                                              },
                                              "title": {
                                                "type": "string",
                                                "minLength": 1,
                                                "maxLength": 24
                                              },
                                              "description": {
                                                "type": "string",
                                                "maxLength": 72
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "title"
                                            ]
                                          }
                                        }
                                      },
                                      "required": [
                                        "rows"
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "button",
                                  "sections"
                                ]
                              }
                            },
                            "required": [
                              "type",
                              "body",
                              "action"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "carousel"
                                ]
                              },
                              "body": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 1024
                                  }
                                },
                                "required": [
                                  "text"
                                ]
                              },
                              "action": {
                                "type": "object",
                                "properties": {
                                  "cards": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "card_index": {
                                          "type": "integer",
                                          "minimum": 0
                                        },
                                        "body": {
                                          "type": "object",
                                          "properties": {
                                            "text": {
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 1024
                                            }
                                          },
                                          "required": [
                                            "text"
                                          ]
                                        },
                                        "action": {
                                          "type": "object",
                                          "properties": {
                                            "buttons": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "additionalProperties": {}
                                              }
                                            }
                                          },
                                          "required": [
                                            "buttons"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "action"
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "cards"
                                ]
                              }
                            },
                            "required": [
                              "type",
                              "action"
                            ]
                          }
                        ]
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "interactive"
                        ]
                      }
                    },
                    "required": [
                      "content",
                      "type"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "status": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation / bad request (e.g. `invalid_request`, `invalid_cursor`, `invalid_template` for a Meta 4xx rejection of a template payload, which carries Meta's own detail as the message; note `outside_24h_window` is 409, not 400). Also `invalid_project_header` (any credential: `X-Paige-Project` was sent but blank) and, for multi-project MCP bearers, `project_required` (a mutation, or a read with no default, and no `X-Paige-Project`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`api_key_required` / `invalid_api_key` / `invalid_token` for a revoked or expired OAuth bearer).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Out of credits (`insufficient_credits`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the required scope, project inactive, or a write targets a platform-protected file (`insufficient_scope` / `project_inactive` / `subscription_inactive` / `protected_file`). Also `project_not_attached` (the `X-Paige-Project` project is not one this credential may act on — not attached to the MCP connection, or not the `pk_` key's own project; identical response whether or not it exists) and, for MCP bearers, `no_project_access` (the connection has no projects attached).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (`not_found` / `*_not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — 24h window closed (`outside_24h_window`) or idempotency (`idempotency_in_progress` / `idempotency_key_mismatch`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "The project's **self-hosted** backend cannot perform the action (`TEMPLATE_SEND_UNSUPPORTED` — it answered the `capabilities` handshake without `send_template`, or rejected the command with `UNKNOWN_COMMAND`). `error.details` carries `command`, `specDoc` and `detected`. Fix it by implementing the optional `send_template` webhook command in your backend, not by retrying.\n\n**Changed behaviour:** before this was introduced, a self-hosted backend that did not implement `send_template` produced `502 WEBHOOK_FAILED` on `POST /v1/messages` with `type: \"template\"`. That case is now `422 TEMPLATE_SEND_UNSUPPORTED`. If you branch on `502`/`WEBHOOK_FAILED` for this scenario, handle `422` too — `502 WEBHOOK_FAILED` still means a genuinely failing backend (it now also carries the backend's own reason in the message and in `error.details.backendMessage` / `backendCode`). Projects on Paige-hosted (VM) numbers are unaffected: they are never probed and never return `422` here.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit (`rate_limited`) or daily send quota (`quota_exceeded`) exceeded. Carries `RateLimit-*` + `Retry-After` headers.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Requests permitted in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates": {
      "post": {
        "operationId": "createTemplate",
        "tags": [
          "Templates"
        ],
        "summary": "Create a WhatsApp message template",
        "description": "Creates a template on the project WABA. Meta approves asynchronously — returns `status: pending`.\n\n**Required scope:** `templates:manage`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-required-scopes": [
          "templates:manage"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Target project id, for an MCP OAuth bearer (`mcp_at_…`) attached to more than one project — get ids from `GET /v1/projects`. Matched case-insensitively.\n\nOmit it and a READ falls back to the connection's default project; a **mutation** (any non-GET) on a connection with 2+ projects is rejected with `400 project_required` — a write is never defaulted to a guessed project. A connection with exactly one project never needs the header.\n\nScopes are checked against the SELECTED project only, never a union across the connection.\n\nFor a `pk_` API key the header selects nothing — one key is one project's context — but it IS validated: omit it and the key's own project is used, send it and it must name that project, otherwise the call is rejected with `403 project_not_attached` (a blank value is `400 invalid_project_header`, as above)."
            },
            "required": false,
            "name": "X-Paige-Project",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 512,
                    "pattern": "^[a-z][a-z0-9_]*$"
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "MARKETING",
                      "UTILITY",
                      "AUTHENTICATION"
                    ]
                  },
                  "language": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 15
                  },
                  "components": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "HEADER"
                              ]
                            },
                            "format": {
                              "type": "string",
                              "enum": [
                                "TEXT",
                                "IMAGE",
                                "VIDEO",
                                "DOCUMENT"
                              ]
                            },
                            "text": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 60
                            },
                            "example": {
                              "type": "object",
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "BODY"
                              ]
                            },
                            "text": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 1024
                            },
                            "example": {
                              "type": "object",
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "type",
                            "text"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "FOOTER"
                              ]
                            },
                            "text": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 60
                            }
                          },
                          "required": [
                            "type",
                            "text"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "BUTTONS"
                              ]
                            },
                            "buttons": {
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "QUICK_REPLY"
                                        ]
                                      },
                                      "text": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 25
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "URL"
                                        ]
                                      },
                                      "text": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 25
                                      },
                                      "url": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 2000
                                      },
                                      "example": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text",
                                      "url"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "PHONE_NUMBER"
                                        ]
                                      },
                                      "text": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 25
                                      },
                                      "phone_number": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 20
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text",
                                      "phone_number"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "COPY_CODE"
                                        ]
                                      },
                                      "text": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 25
                                      },
                                      "example": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "required": [
                                      "type"
                                    ]
                                  }
                                ]
                              }
                            }
                          },
                          "required": [
                            "type",
                            "buttons"
                          ]
                        }
                      ]
                    }
                  }
                },
                "required": [
                  "name",
                  "category",
                  "language",
                  "components"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "language": {
                          "type": "string"
                        },
                        "category": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "language",
                        "category",
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation / bad request (e.g. `invalid_request`, `invalid_cursor`, `invalid_template` for a Meta 4xx rejection of a template payload, which carries Meta's own detail as the message; note `outside_24h_window` is 409, not 400). Also `invalid_project_header` (any credential: `X-Paige-Project` was sent but blank) and, for multi-project MCP bearers, `project_required` (a mutation, or a read with no default, and no `X-Paige-Project`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`api_key_required` / `invalid_api_key` / `invalid_token` for a revoked or expired OAuth bearer).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the required scope, project inactive, or a write targets a platform-protected file (`insufficient_scope` / `project_inactive` / `subscription_inactive` / `protected_file`). Also `project_not_attached` (the `X-Paige-Project` project is not one this credential may act on — not attached to the MCP connection, or not the `pk_` key's own project; identical response whether or not it exists) and, for MCP bearers, `no_project_access` (the connection has no projects attached).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — 24h window closed (`outside_24h_window`) or idempotency (`idempotency_in_progress` / `idempotency_key_mismatch`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit (`rate_limited`) or daily send quota (`quota_exceeded`) exceeded. Carries `RateLimit-*` + `Retry-After` headers.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Requests permitted in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure — a Meta credentials rejection (`meta_auth_error`) or a failed/truncated agent run on the build + flow endpoints (`build_failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listTemplates",
        "tags": [
          "Templates"
        ],
        "summary": "List message templates + approval status",
        "description": "Every template on the project WABA, one entry per localization — the same `name` appears once per language.\n\n**Required scope:** `templates:read`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-required-scopes": [
          "templates:read"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Target project id, for an MCP OAuth bearer (`mcp_at_…`) attached to more than one project — get ids from `GET /v1/projects`. Matched case-insensitively.\n\nOmit it and a READ falls back to the connection's default project; a **mutation** (any non-GET) on a connection with 2+ projects is rejected with `400 project_required` — a write is never defaulted to a guessed project. A connection with exactly one project never needs the header.\n\nScopes are checked against the SELECTED project only, never a union across the connection.\n\nFor a `pk_` API key the header selects nothing — one key is one project's context — but it IS validated: omit it and the key's own project is used, send it and it must name that project, otherwise the call is rejected with `403 project_not_attached` (a blank value is `400 invalid_project_header`, as above)."
            },
            "required": false,
            "name": "X-Paige-Project",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "templates": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "language": {
                                "type": "string",
                                "description": "BCP-47 code, e.g. `en_US`. Pass it as `language`/`languageCode` when sending."
                              },
                              "status": {
                                "type": "string",
                                "description": "Lowercased Meta status — `approved`, `pending`, `rejected`, `paused`. Only `approved` can be sent."
                              },
                              "category": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "MARKETING | UTILITY | AUTHENTICATION."
                              },
                              "components": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {}
                                },
                                "description": "Meta's component array — header/body/footer/buttons, including variable placeholders."
                              }
                            },
                            "required": [
                              "name",
                              "language",
                              "status",
                              "category",
                              "components"
                            ]
                          }
                        }
                      },
                      "required": [
                        "templates"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation / bad request (e.g. `invalid_request`, `invalid_cursor`, `invalid_template` for a Meta 4xx rejection of a template payload, which carries Meta's own detail as the message; note `outside_24h_window` is 409, not 400). Also `invalid_project_header` (any credential: `X-Paige-Project` was sent but blank) and, for multi-project MCP bearers, `project_required` (a mutation, or a read with no default, and no `X-Paige-Project`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`api_key_required` / `invalid_api_key` / `invalid_token` for a revoked or expired OAuth bearer).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the required scope, project inactive, or a write targets a platform-protected file (`insufficient_scope` / `project_inactive` / `subscription_inactive` / `protected_file`). Also `project_not_attached` (the `X-Paige-Project` project is not one this credential may act on — not attached to the MCP connection, or not the `pk_` key's own project; identical response whether or not it exists) and, for MCP bearers, `no_project_access` (the connection has no projects attached).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit (`rate_limited`) or daily send quota (`quota_exceeded`) exceeded. Carries `RateLimit-*` + `Retry-After` headers.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Requests permitted in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates/{name}": {
      "delete": {
        "operationId": "deleteTemplate",
        "tags": [
          "Templates"
        ],
        "summary": "Delete a template (all localizations, or a single language)",
        "description": "Deletes every localization of `{name}` by default. Pass `?language=<code>` to remove just that one localization and leave the rest in place.\n\n**Required scope:** `templates:manage`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-required-scopes": [
          "templates:manage"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "name",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Remove only this localization; omit to remove every localization of the name."
            },
            "required": false,
            "name": "language",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project id, for an MCP OAuth bearer (`mcp_at_…`) attached to more than one project — get ids from `GET /v1/projects`. Matched case-insensitively.\n\nOmit it and a READ falls back to the connection's default project; a **mutation** (any non-GET) on a connection with 2+ projects is rejected with `400 project_required` — a write is never defaulted to a guessed project. A connection with exactly one project never needs the header.\n\nScopes are checked against the SELECTED project only, never a union across the connection.\n\nFor a `pk_` API key the header selects nothing — one key is one project's context — but it IS validated: omit it and the key's own project is used, send it and it must name that project, otherwise the call is rejected with `403 project_not_attached` (a blank value is `400 invalid_project_header`, as above)."
            },
            "required": false,
            "name": "X-Paige-Project",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string"
                        },
                        "language": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "count": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "deleted",
                        "name",
                        "language",
                        "count"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation / bad request (e.g. `invalid_request`, `invalid_cursor`, `invalid_template` for a Meta 4xx rejection of a template payload, which carries Meta's own detail as the message; note `outside_24h_window` is 409, not 400). Also `invalid_project_header` (any credential: `X-Paige-Project` was sent but blank) and, for multi-project MCP bearers, `project_required` (a mutation, or a read with no default, and no `X-Paige-Project`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`api_key_required` / `invalid_api_key` / `invalid_token` for a revoked or expired OAuth bearer).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the required scope, project inactive, or a write targets a platform-protected file (`insufficient_scope` / `project_inactive` / `subscription_inactive` / `protected_file`). Also `project_not_attached` (the `X-Paige-Project` project is not one this credential may act on — not attached to the MCP connection, or not the `pk_` key's own project; identical response whether or not it exists) and, for MCP bearers, `no_project_access` (the connection has no projects attached).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (`not_found` / `*_not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit (`rate_limited`) or daily send quota (`quota_exceeded`) exceeded. Carries `RateLimit-*` + `Retry-After` headers.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Requests permitted in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure — a Meta credentials rejection (`meta_auth_error`) or a failed/truncated agent run on the build + flow endpoints (`build_failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversations": {
      "get": {
        "operationId": "listConversations",
        "tags": [
          "Conversations"
        ],
        "summary": "List conversations (state filter, keyset cursor)",
        "description": "List conversations (state filter, keyset cursor)\n\n**Required scope:** `conversations:read`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-required-scopes": [
          "conversations:read"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "state",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "description": "≤100, default 50."
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Opaque nextCursor from a prior page."
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project id, for an MCP OAuth bearer (`mcp_at_…`) attached to more than one project — get ids from `GET /v1/projects`. Matched case-insensitively.\n\nOmit it and a READ falls back to the connection's default project; a **mutation** (any non-GET) on a connection with 2+ projects is rejected with `400 project_required` — a write is never defaulted to a guessed project. A connection with exactly one project never needs the header.\n\nScopes are checked against the SELECTED project only, never a union across the connection.\n\nFor a `pk_` API key the header selects nothing — one key is one project's context — but it IS validated: omit it and the key's own project is used, send it and it must name that project, otherwise the call is rejected with `403 project_not_attached` (a blank value is `400 invalid_project_header`, as above)."
            },
            "required": false,
            "name": "X-Paige-Project",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "conversations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  }
                                ]
                              },
                              "state": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "status": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "last_message_at": {},
                              "last_inbound_at": {},
                              "wa_user_id": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "contact": {
                                "type": "object",
                                "properties": {
                                  "id": {},
                                  "phone": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "name": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "username": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "required": [
                                  "phone",
                                  "name",
                                  "username"
                                ]
                              },
                              "last_message": {
                                "type": [
                                  "object",
                                  "null"
                                ],
                                "properties": {
                                  "type": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "content": {
                                    "type": "object",
                                    "properties": {
                                      "body": {
                                        "type": [
                                          "string",
                                          "null"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "body"
                                    ]
                                  },
                                  "direction": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "required": [
                                  "type",
                                  "content",
                                  "direction"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "state",
                              "status",
                              "wa_user_id",
                              "contact",
                              "last_message"
                            ]
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "hasMore": {
                              "type": "boolean"
                            },
                            "nextCursor": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "required": [
                            "hasMore",
                            "nextCursor"
                          ]
                        }
                      },
                      "required": [
                        "conversations",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation / bad request (e.g. `invalid_request`, `invalid_cursor`, `invalid_template` for a Meta 4xx rejection of a template payload, which carries Meta's own detail as the message; note `outside_24h_window` is 409, not 400). Also `invalid_project_header` (any credential: `X-Paige-Project` was sent but blank) and, for multi-project MCP bearers, `project_required` (a mutation, or a read with no default, and no `X-Paige-Project`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (`api_key_required` / `invalid_api_key` / `invalid_token` for a revoked or expired OAuth bearer).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the required scope, project inactive, or a write targets a platform-protected file (`insufficient_scope` / `project_inactive` / `subscription_inactive` / `protected_file`). Also `project_not_attached` (the `X-Paige-Project` project is not one this credential may act on — not attached to the MCP connection, or not the `pk_` key's own project; identical response whether or not it exists) and, for MCP bearers, `no_project_access` (the connection has no projects attached).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit (`rate_limited`) or daily send quota (`quota_exceeded`) exceeded. Carries `RateLimit-*` + `Retry-After` headers.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Requests permitted in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversations/{id}/messages": {
      "get": {
        "operationId": "getConversationMessages",
        "tags": [
          "Conversations"
        ],
        "summary": "Messages in a conversation (keyset cursor)",
        "description": "Messages in a conversation (keyset cursor)\n\n**Required scope:** `conversations:read`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-required-scopes": [
          "conversations:read"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ]
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project id, for an MCP OAuth bearer (`mcp_at_…`) attached to more than one project — get ids from `GET /v1/projects`. Matched case-insensitively.\n\nOmit it and a READ falls back to the connection's default project; a **mutation** (any non-GET) on a connection with 2+ projects is rejected with `400 project_required` — a write is never defaulted to a guessed project. A connection with exactly one project never needs the header.\n\nScopes are checked against the SELECTED project only, never a union across the connection.\n\nFor a `pk_` API key the header selects nothing — one key is one project's context — but it IS validated: omit it and the key's own project is used, send it and it must name that project, otherwise the call is rejected with `403 project_not_attached` (a blank value is `400 invalid_project_header`, as above)."
            },
            "required": false,
            "name": "X-Paige-Project",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "messages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {},
                              "direction": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "type": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "content": {
                                "type": "object",
                                "properties": {
                                  "body": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "required": [
                                  "body"
                                ]
                              },
                              "status": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "error_code": {},
                              "created_at": {},
                              "raw_payload": {},
                              "media_id": {}
                            },
                            "required": [
                              "direction",
                              "type",
                              "content",
                              "status"
                            ]
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "hasMore": {
                              "type": "boolean"
                            },
                            "nextCursor": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "required": [
                            "hasMore",
                            "nextCursor"
                          ]
                        }
                      },
                      "required": [
                        "messages",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
[...]
